<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.board">
	
<!-- 쿼리문 -->
	<select id="selectAll" resultType="BoardDto">
		SELECT BD_NO, BD_NAME, BD_TITLE, BD_CONTENT, BD_DATE
		FROM BOARD
	</select>


	<select id="selectOne" parameterType="int" resultType="BoardDto">
 		SELECT BD_NAME, BD_TITLE, BD_CONTENT
		FROM BOARD
	</select>

	
	<insert id="insert" parameterType="BoardDto">
		INSERT INTO BOARD
		VALUES(BD_SEQ.NEXTVAL, #{bd_name}, #{bd_title}, #{bd_content}, SYSDATE)
	</insert>


	<update id="update" parameterType="BoardDto">
		UPDATE BOARD
		SET BD_TITLE = #{bd_title}, BD_CONTENT = #{bd_content}
		WHERE BD_NO =#{bd_no} 
	</update>


	<delete id="delete" parameterType="int">
		DELETE 
		FROM BOARD
		WHERE BD_NO = #{bd_no}
	</delete>

	
	<delete id="multiDelete" parameterMap="map">
		DELETE 
		FROM BOARD
		WHERE BD_NO IN
		<foreach collection="bd_no" item="bd_no" open="(" separator="," close=")">
			#{bd_no}
		</foreach>
	</delete>

</mapper>  