<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Vue.js sample</title>
		<link rel="stylesheet" href="style.css" >
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	</head>

   <body>
		<h2>Google Charts로 원그래프를 그리는 예제</h2>
		<h3>선호하는 점심 메뉴 투표</h3>
        <div id="chart_div" style="height: 500px;"></div>
		<div id="app">
			<li v-for="(item, c) in dataArray" v-if="c>0">{{item[0]}} : {{item[1]}}
				<button v-on:click="addOne(c)">투표</button>
                <button v-on:click="minsOne(c)">투표취소</button>
			</li>
		</div>

		<script>
			// 그래프에 사용할 데이터
			 var orgdata = [
				['종류', '개수'],
				['도시락', 3], ['갈비탕', 4], [ '오므라이스', 5],
				['짬뽕', 1], ['비빔밥', 3], [ '메밀소바', 1]
			 ];
	
			google.charts.load('current', {packages: ['corechart']});
			google.charts.setOnLoadCallback(drawBasic);
	
			// 그래프를 그리는 함수
			function drawBasic() {
				var data = google.visualization.arrayToDataTable(orgdata);
				var options = {title: '선호하는 점심',"is3D": true};
				var chart = new google.visualization.BarChart(
					document.getElementById('chart_div'));
				chart.draw(data, options);
			}
		</script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
		<script>
			new Vue({
				el: '#app',
				data: {
					dataArray:orgdata
				},
				methods: {
					addOne: function(val) {
						var obj = this.dataArray[val];
						obj[1]++;
						this.dataArray.splice(val, 1, obj);
						drawBasic();
					},
                    minsOne: function(val) {
						var obj = this.dataArray[val];
						obj[1]--;
						this.dataArray.splice(val, 1, obj);
						drawBasic();
					}
				}
			});
		</script>
	</body>
</html>
